.obContainer{
min-height:100vh;
background:#050507;
padding:40px;
color:white;
}

.obLogo{
font-size:30px;
font-weight:700;
margin-bottom:50px;
}

.obHeader h1{
font-size:72px;
font-weight:800;
line-height:1;
margin-bottom:30px;
}

.obHeader span{
color:#d96cff;
}

.obCategories{
display:flex;
gap:12px;
margin-bottom:40px;
}

.obCategories button{
background:#111;
border:none;
color:white;
padding:12px 26px;
border-radius:999px;
cursor:pointer;
}

.active{
background:linear-gradient(
90deg,
#b964ff,
#e760c8
);
}

.obGrid{

display:grid;

grid-template-columns:
repeat(
4,
1fr
);

gap:24px;

}

.obTile{

cursor:pointer;

overflow:hidden;

position:relative;

height:320px;

border-radius:24px;

background:#0c0c12;

transition:.3s;
}

.obTile:hover{

transform:translateY(-6px);

}

.selected{

outline:2px solid #c96cff;

}

.obTileArt{

height:240px;

background-size:cover;

background-position:center;

position:relative;

}

.obTileOverlay{

position:absolute;
inset:0;

background:

linear-gradient(
to top,
rgba(0,0,0,.9),
transparent
);

}

.obBadge{

position:absolute;

top:15px;
left:15px;

padding:8px 14px;

border-radius:999px;

background:#111;

font-size:12px;

z-index:3;

}

.obCheck{

position:absolute;

top:15px;
right:15px;

width:36px;
height:36px;

display:flex;

align-items:center;
justify-content:center;

border-radius:50%;

background:#d96cff;

z-index:3;
}

.obTileBottom{

padding:18px;
}

.obTitle{

font-size:18px;

font-weight:700;

margin-bottom:4px;
}

.obType{

opacity:.6;
}

.obBottomBar{

position:fixed;

left:50%;

bottom:25px;

transform:translateX(-50%);

width:90%;

background:#0e0e15;

padding:22px 35px;

border-radius:22px;

display:flex;

justify-content:space-between;

align-items:center;

border:1px solid rgba(255,255,255,.08);

}

.obBottomBar button{

border:none;

padding:16px 35px;

border-radius:999px;

background:

linear-gradient(
90deg,
#b964ff,
#e760c8
);

color:white;

font-weight:700;

cursor:pointer;
}

.obBottomBar button:disabled{

opacity:.4;
cursor:not-allowed;
}